{{extend 'layout.html'}}
<style>
    body {
        background-image: url("../static/images/background.jpg");
        background-color: rgba(255, 255, 255, 0.7);
        background-blend-mode: lighten;
        color: black;
    }
</style>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/worldplus.css')}}"/>

<div id="main_content" class="fullheight" style="display:none">
    <!--map div-->
    <div id="map" class="col-xs-0 col-sm-6 col-md-7">

    </div>
    <!-- for when we get geocaching
    <h3 class="col-sm-6 col-md-7 post-overlay text-center">Santa Cruz</h3> -->

    <!--posts div-->
    <div class="text-center col-xs-0 col-sm-6 col-md-5 fullheight">

        <div class="post-list">
            <!-- toggle create post buttons -->
            <transition name="fade" mode="out-in">
                <div v-if="is_create_post" key="post-btn-1">
                    <button class="btn" v-on:click="toggleCreatePost">
                        Cancel Post
                    </button>
                </div>
                <div v-else key="post-btn-2">
                    <button class="btn" v-on:click="toggleCreatePost">
                        Create Post
                    </button>
                </div>
            </transition>

            <!-- show post form or post list -->
            <transition name="quickfade" mode="out-in">
                <div v-if="is_create_post">
                    <div>
                        <div class="post-content">
                            <div><input type="text" v-model="new_post.name"/></div>
                            <div>
                                <button class="btn">
                                    Placeholder: Upload a Photo
                                </button>
                            </div>
                            <div><textarea v-model="new_post.desc"></textarea></div>
                            <div>
                                <button class="btn"
                                        v-on:click="createPost">
                                    Submit Post
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>

            <div v-for="(post, idx) in posts" id="post_list">
                <div class="post-content text-left">
                    <img v-bind="post.img" alt="post img"
                         v-on:click="selectPost(idx)"
                    />
                    <span>name: ${post.name}</span>
                    <transition name="fade">
                        <div v-if="sel_post == idx">
                            <hr class="post-hr">
                            <div class="post-desc">desc: ${post.desc}</div>
                            <div>location: {${post.loc.lat}, ${post.loc.lng}}</div>
                            <div>time: ${post.time}</div>
                        </div>
                    </transition>
                </div>
            </div>

            <transition name="move">
                <div v-if="is_loading">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </transition>
        </div>
:
    </div>
</div>
</div>

<script>

    function initMap() {
        var center = {lat: 36.9916520946924, lng: -122.061012402344};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: center
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map,
        });

        // set callback to auto-refocus center upon resizing window
        window.onresize = function () {
            google.maps.event.trigger(map, 'resize');
            map.setCenter(center);
        }

        $('#post_list').on('selected_loc', function (evt) {
            marker.setVisible(false);
            center = evt.location;
            map.setCenter(center);
            if (map.zoom < 17)
                map.setZoom(17);
            marker.setPosition(center);
            marker.setVisible(true);
        })
        $('#post_list').on('deselected_loc', function () {
            if (map.zoom > 15)
                map.setZoom(15);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5WLmkuj2OHkGa6p23cqLJfWQGSVwevl8&callback=initMap">
</script>
<script>
    $(document).ready(function () {
        $("#main_content").show();
    });
</script>

<script src="{{=URL('static','js/default_index.js')}}"></script>

<div id="body">
    <br>
</div>