{{extend 'layout.html'}}


<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/worldplus.css')}}"/>

<div id="main_content" class="fullheight">
    <!--map div-->
    <div id="map" class="col-xs-0 col-sm-6 col-md-7">
        <h3 class="col-sm-12 post-overlay text-center">Santa Cruz</h3>
    </div>

    <!--posts div-->
    <div class="text-center col-xs-0 col-sm-6 col-md-5 fullheight">
        <div v-if="is_create_post" class="post-list">
            <button class="btn" v-on:click="toggleCreatePost">
                Cancel Post
            </button>
            <div>
                <div class="post-content">
                    <div><input type="text" v-model="new_post_data.name"/></div>
                    <div>
                        <button class="btn">Upload a Photo</button>
                    </div>
                    <div><textarea v-model="new_post_data.desc"></textarea></div>
                    <!-- figure out how to upload a photo -->
                </div>
            </div>
        </div>

        <div v-else class="post-list">
            <button class="btn" v-on:click="toggleCreatePost">
                Create Post
            </button>
            <ul v-for="(post, idx) in posts" class="">
                <li>
                    <div class="post-content">
                        ${post.name}
                        <img src="${post.img_name}" alt="post img"
                             v-on:click="selectPost(idx)"
                        />
                        ${post.desc}
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

<script>
    function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
        
        var center = marker.getPosition();
        // set callback to auto-refocus center upon resizing window
        window.onresize = function () {
            google.maps.event.trigger(map, 'resize');
            map.setCenter(center);
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5WLmkuj2OHkGa6p23cqLJfWQGSVwevl8&callback=initMap">
</script>

<script src="{{=URL('static','js/default_index.js')}}"></script>
