{{extend 'layout.html'}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
{{logged_in = auth.user_id is not None}}

<link rel="stylesheet" href="{{=URL('static','css/prostyle.css')}}"/>


<div id="body">
    <br>
</div>

{{if logged_in:}}

<div class="col-md-12">
    <div id="banner">
        <div id="title">Hello {{=T(auth.user.first_name if auth.user.first_name else '')}}</div>
        <p>
            <strong>
                Here you can see your accumulated points and latest post.
            </strong>
        </p>
    </div>

    <div id="bannerl">
        <div id="title">Points:</div>
    </div>

</div>
<div id="vuediv">
    <div id="bannerD" class="col-xs-1">
        <div id="title" style="position:absolute; width:250px">Photo Reel</div>
        <div class="text-center">
            <div style="margin-top:45px">
                <div v-for="post in posts">
                    <div id="inner">
                        <img v-bind:src="post.img" alt="" height="127" width="127"/>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="post-list col-xs-1">
        <div id="title" style="position:absolute; width:250px">Sent</div>
        <div style="margin-top:45px">
            <div v-for="(comment, idx) in sent_comments">
                <div class="post-content text-left">
                    <div>${comment.content}</div>
                    <div>${comment.sender} to ${comment.receiver} ${comment.time}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="post-list col-xs-1">
        <div id="title" style="position:absolute; width:250px">Received</div>
        <div style="margin-top:45px">
            <div v-for="(comment, idx) in recv_comments">
                <div class="post-content text-left">
                    <div>${comment.content}</div>
                    <div>${comment.sender} to ${comment.receiver} ${comment.time}</div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <input v-model="userid"/>
        <button class="btn" v-on:click="getAll">get posts for id</button>
    </div>
</div>


<script>
    var get_posts_user_url = "{{=URL('api', 'get_posts_user')}}";
    var get_comments_recv_user_url = "{{=URL('api', 'get_comments_recv_user')}}"
    var get_comments_sent_user_url = "{{=URL('api', 'get_comments_sent_user')}}"

    function extend(a, b) {
        for (var i = 0; i < b.length; i++) {
            a.push(b[i]);
        }
    }
    var vuediv = new Vue({
        el: "#vuediv",
        delimiters: ['${', '}'],
        unsafeDelimiters: ['!{', '}'],
        data: {
            posts: [],
            sent_comments: [],
            recv_comments: [],
            userid: {{=auth.user_id}},
        },
        methods: {
            getAll: function () {
                this.getPosts();
                this.getCommentsRecv();
                this.getCommentsSent();
            },
            getPosts: function () {
                $.post(get_posts_user_url, {
                            id: vuediv.userid
                        },
                        function (data) {
                            vuediv.posts = [];
                            extend(vuediv.posts, data.posts);
                            if (vuediv.posts == []) vuediv.posts = ["no pictures"]
                        }
                );
            },
            getCommentsSent: function () {
                $.post(get_comments_sent_user_url, {
                    id: vuediv.userid
                }, function (data) {
                    extend(vuediv.sent_comments, data.comments);
                    if (vuediv.sent_comments == []) vuediv.sent_comments = ['no sent comments']
                });
            },
            getCommentsRecv: function () {
                $.post(get_comments_recv_user_url, {
                    id: vuediv.userid
                }, function (data) {
                    extend(vuediv.recv_comments, data.comments);
                    if (vuediv.recv_comments == []) vuediv.recv_comments = ['no received comments']
                });
            }
        }
    });
    $(document).ready(function () {
        vuediv.getPosts();
        vuediv.getCommentsSent();
        vuediv.getCommentsRecv();
    });

</script>

</div>
{{else:}}
<meta http-equiv="refresh" content="0; URL='{{=URL('default', 'index')}}'"/>
{{pass}}


