{{extend 'layout.html'}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
{{logged_in = auth.user_id is not None}}

<link rel="stylesheet" href="{{=URL('static','css/prostyle.css')}}"/>


<div id="body">
    <br>
</div>

{{if logged_in:}}

<div class="col-md-5">
    <div id="banner">
        <div id="title">Hello {{=T(auth.user.first_name if auth.user.first_name else '')}}</div>
        <p>
            <strong>
                Here you can see your accumulated points and latest post.
            </strong>
        </p>
    </div>

    <div id="bannerl">
        <div id="title">Points:</div>
    </div>

</div>

<div id="bannerD" class="text-center">
    <div id="title" style="position:absolute; width:250px">Photo Reel</div>
    <div id="picturelist" class="text-center">

        <div style="margin-top:45px">
            <div v-for="post in posts">
                <div id="inner">
                    <img v-bind:src="post.img" alt="" height="127" width="127"/>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<script>
    var get_posts_user_url = "{{=URL('api', 'get_posts_user')}}";

    function extend(a, b) {
        for (var i = 0; i < b.length; i++) {
            a.push(b[i]);
        }
    }
    var picturelist = new Vue({
        el: "#picturelist",
        delimiters: ['${', '}'],
        unsafeDelimiters: ['!{', '}'],
        data: {
            posts: [],
        },
        methods: {
            getPosts: function () {
                $.post(get_posts_user_url, {
                            id: {{=auth.user_id}}
                        },
                        function (data) {
                            picturelist.posts = [];
                            extend(picturelist.posts, data.posts);
                            if (picturelist.posts == []) picturelist.posts = ["no pictures"]
                        }
                );
            }
        }
    });
    $(document).ready(function () {
        picturelist.getPosts();
    });

</script>

</div>
{{else:}}
<meta http-equiv="refresh" content="0; URL='{{=URL('default', 'index')}}'"/>
{{pass}}


