{{extend 'layout.html'}}
{{logged_in = auth.user_id is not None}}
<style>
    hr{
        border: 0;
        height: 5px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    body {
      background-image: url("../static/images/background.jpg");
      background-color: rgba(255,255,255,0.7);
      background-blend-mode:lighten;
      color:black;
    }

</style>
{{if logged_in:}}
<div id="proheader" class="col-xs-0 col-sm-6 col-md-7">
    <h2>Hi {{=T(auth.user.first_name if auth.user.first_name else '')}}</h2>
    <h4>Here you can see your accumulated points and customize your experience.</h4>
    <hr>
</div>

<div id="recpoint" class="text-center col-xs-0 col-sm-6 col-md-5">
    Points:
</div>
{{else:}}
<meta http-equiv="refresh" content="0; URL='http://127.0.0.1:8000/hack/default/index'" />
{{pass}}



<div id="body">
    <br>
</div>
