.fade-enter-active, .fade-leave-active {
    transition: all 0.3s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

.quickfade-enter-active, .quickfade-leave-active {
    transition: all 0.2s;
}

.quickfade-enter, .quickfade-leave-active {
    opacity: 0;
}

.move-enter-active, .mode-leave-active {
    transition: all 0.3s;
}

.move-move {
    transition: 0.3s;
}

.post-img-lg {
    height:200px;
    width:200px;
    position:relative;
    float:right;
}

.post-img {
    width: 50px;
    height: 50px;
}

.post-list {
    overflow-y: scroll;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: floralwhite;
}

.post-content {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 7px;
    margin: 3px;
    background-color: rgba(245, 245, 225, 0.45)
}

.map-overlay {
    position: absolute;
}

.post-hr {
    margin: 0;
    border-color: lightgray;
}

.post-desc {
    margin: 7px;
}

div#map {
    height: 100%;
}

.fullheight {
    height: 100%;
}

html {
    height: 100%
}

body {
    height: 85%;
}

body div.main-container.container-fluid {
    height: 100%;
}

body div.main-container div.col-md-12 {
    height: 100%;
}